<h3 class="border-bottom pb-1 mb-3">Criar</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <mdb-card  class="my-1 pointer" [routerLink]="['/veiculo/add']">
        <mdb-card-body id="criar">
          <p class="mb-0 text-center">
            <i class="fas fa-plus fa-3x"></i>
          </p>
          <h4 class="mt-3 text-uppercase text-center b-8">Criar</h4>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-3 mb-4" *ngFor="let v of veiculo">
      <mdb-card>
        <!-- <app-carousel-carro-admin [Idcarro]="v.id"></app-carousel-carro-admin> -->
        <mdb-card-body>
          <mdb-card-title>
            <h6 class="b-09 border-bottom pb-1 mb-2">{{v.marcaCarro}} {{v.modeloCarro}} {{v.versao}}</h6>
          </mdb-card-title>
          <mdb-card-text>
            <mdb-badge pill="true" default="true" class="badge-1 py-2 text-uppercase f-05 my-1 mr-1">
              <a href="#" class="white-text">
                  Ofertas
                  <!-- <app-ofertas [oferta]='v.ofertas' (nome)="onOferta($event)"></app-ofertas> -->
                  <mdb-icon fas icon="edit" class="ml-1"></mdb-icon>
              </a>
            </mdb-badge>
            <mdb-badge pill="true" default="true" class="badge-1 py-2 my-1 f-05">
              <a href="#" class="text-uppercase white-text"> {{v.status}}
                <mdb-icon fas icon="edit" class="ml-1"></mdb-icon>
              </a>
            </mdb-badge>
            <p class="mt-3 py-2 bg-1 leads text-center b-8 text-2">
              <a href="#" class="text-2 text-underline">
                  <i class="fas fa-edit mr-2"></i>
                  {{v.valor}}
              </a>
            </p>
          </mdb-card-text>
        </mdb-card-body>
        <mdb-card-footer class="elegant-color rounded-bottom">
          <div class="clearfix">
            <div class="float-left">
              <!-- <app-interessado [id]="card.id"></app-interessado> -->
            </div>
            <div class="float-right">
              <a class="mr-3" routerLink="preview/{{v.id}}" routerLinkActive="router-link-active" >
                <i class="fas fa-eye text-primary"></i>
              </a>
              <a routerLink="/veiculos/edit/{{v.id}}"routerLinkActive="router-link-active" >
                <i class="fas fa-edit text-warning"></i>
              </a>
              <a class="ml-3" (click)='apagar(v.id)'>
                <i class="fas fa-trash text-danger"></i>
              </a>
            </div>
          </div>
        </mdb-card-footer>
      </mdb-card>
    </div>
  </div>
</div>
