<h3 class="border-bottom pb-1 mb-3">Adicionar novo post</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="preview === 'off'">
        <input type="text" class="form-control" placeholder="Adicionar título" [(ngModel)]="tittle" (input)="tittle = $event.target.value">
        <div class="mt-3">
          <ckeditor [editor]="Editor" [(ngModel)]="description" data="<p>Olá , pode escrever aqui!</p>" (change)="onChange($event)"></ckeditor>
        </div>
      </div>
      <div *ngIf="preview === 'on'">
        <h1 class="text-center b-07 mb-3">{{ tittle }}</h1>
        <div class="py-4" [innerHTML]="description"></div>
      </div>
    </div>
    <div class="col-md-3">
      <mdb-card class="mb-4">
        <div class="card-header text-center special-color-dark white-text" (click)="close()">
          <span class="float-left">Status</span>
          <i class="fas float-right" [ngClass]="{'fa-chevron-up': closer === false, 'fa-chevron-down': closer === true}"></i>
        </div>
        <mdb-card-body class="p-0" [ngClass]="{'d-none': closer === true}">
          <div style="display: block">
            <ul class="list-group">
              <li class="list-group-item py-2 px-3">
                <i class="fas fa-key mr-2 text-muted"></i>
                <span>Status: </span>
                <strong>Draft</strong>
                <span class="ml-2"><a href="#">Editar</a></span>
              </li>
              <li class="list-group-item py-2 px-3">
                <i class="fas fa-check mr-2 text-muted"></i>
                <span>Revisado: </span>
                <strong>Sim</strong>
                <span class="ml-2"><a href="#">Editar</a></span>
              </li>
              <li class="list-group-item py-2 px-3">
                <i class="fas fa-eye mr-2 text-muted"></i>
                <span>Preview: </span>
                <span class="custom-control custom-switch ml-2" style="display: inline">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="preview" value="off" (change)="isPreview($event)">
                  <label class="custom-control-label" for="customSwitch1">{{textPreview}}</label>
                </span>
              </li>
              <li class="list-group-item py-2 px-3">
                <i class="fas fa-calendar mr-2 text-muted"></i>
                <span>Publicar: </span>
                <strong>Agora</strong>
                <span class="ml-2"><a (click)="publicar()">Editar</a></span>
              </li>
              <li class="list-group-item py-2 px-3" *ngIf="publish">
                <h4>Form</h4>
              </li>
            </ul>
          </div>
        </mdb-card-body>
      </mdb-card>
      <mdb-card class="mb-4">
        <div class="card-header text-center special-color-dark white-text" (click)="closeC()">
          <span class="float-left">Categoria</span>
          <i class="fas float-right" [ngClass]="{'fa-chevron-up': closerC === false, 'fa-chevron-down': closerC === true}"></i>
        </div>
        <mdb-card-body class="p-0" [ngClass]="{'d-none': closerC === true}">
          <div style="display: block">
            flçskdçflsfçsfçsldfsçkdl
          </div>
        </mdb-card-body>
      </mdb-card>
      <mdb-card class="mb-4">
        <div class="card-header text-center">
          Image
        </div>
        <mdb-card-body>
          <div style="display: block">
            slçkçsdfçsdfsdçlf
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
