<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="fmEstado">
        <div class="md-form">
          <input mdbInput type="text" class="form-control" id="estado" formControlName="estado">
          <label for="estado" class="">Estado</label>
        </div>
      </form>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
