<section id="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <mdb-card>
          <mdb-card-header class="info-color white-text text-center py-4">
            <h4 class="b-09 text-uppercase">Acessar</h4>
          </mdb-card-header>
          <mdb-card-body class="px-lg-5 pt-0">
            <form class="text-center" style="color: #757575;">
              <div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control" mdbInput>
                <label for="materialLoginFormEmail">E-mail</label>
              </div>
              <div class="md-form">
                <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput>
                <label for="materialLoginFormPassword">Password</label>
              </div>
              <div class="d-flex justify-content-around">
                <div>
                  <mdb-checkbox>Remember me</mdb-checkbox>
                </div>
                <div>
                  <a href="">Forgot password?</a>
                </div>
              </div>
              <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
                type="submit">Sign in</button>
            </form>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</section>
