<div class="container-fluid" *ngFor="let i of carro">
<h3 class="my-5 border-bottom pb-1 font-weight-bold">
      {{i.marcaCarro}}
      {{i.modeloCarro}}
    </h3>
    <div class="row">
      <div class="col-xl-7 mb-5 mb-xl-0">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item *ngFor="let t of imagen">
            <div class="view w-100">
              <img class="d-block w-100" src="{{t.url}}" alt="{{i.marcaCarro}} {{i.modeloCarro}}">
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">
                {{i.marcaCarro}} {{i.modeloCarro}}
              </h3>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="col-xl-5">
        <div class="row justify-content-center">
          <div class="col-6 col-sm-6 col-xl-6">
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/manual-transmission.svg" width="30px" alt="">
              </span> {{i.transmissao}}
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/fuel.svg" width="30px" alt="">
              </span> {{i.combustivel}}
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/kilometragem.svg" width="30px" alt="">
              </span> {{i.kilometragem}}km
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/portas.svg" width="30px" alt="">
              </span> {{i.portas}} portas
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/placa.svg" width="30px" alt="">
              </span> Placa {{i.placa}}
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/sell.svg" width="30px" alt="">
              </span> Oferta {{oferta}}
            </p>
          </div>
          <div class="col-6 col-sm-6 col-xl-6">
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/cor.svg" width="30px" alt="">
              </span> {{i.cor}}
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/year.svg" width="30px" alt="">
              </span> {{i.ano_fabricacao}}
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/model.svg" width="30px" alt="">
              </span> {{i.ano_modelo}}
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/location.svg" width="30px" alt="">
              </span> {{estado}}
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/location.svg" width="30px" alt="">
              </span> {{cidade}}
            </p>
            <p class="text-capitalize border-bottom pb-3">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/versao.svg" width="30px" alt="">
              </span> {{i.versao}}
            </p>
          </div>
          <div class="col-xl-12">
            <h3 class="text-capitalize text-center border-bottom pb-3 font-weight-bold">
              <span class="mr-3">
                <img src="./assets/images/backend/icons/cash.svg" width="30px" alt="">
                <span class="f-bold ml-3">R$. {{i.valor }}</span>
              </span>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-sm-12 col-xl-6">
        <div class="grey lighten-5 p-5">
          <h3 class="border-bottom pb-2 mb-4">
            Dados Série
          </h3>
          <div class="row">
            <div class="col-6" *ngFor="let o of opcionais">
              <p *ngIf="o.arCondicionado == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Ar Condicionado
              </p>
              <p *ngIf="o.arBag == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Ar Bag
              </p>
              <p *ngIf="o.travasEletricas == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Travas Elétricas
              </p>
              <p *ngIf="o.direcaoHidraulica == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Direção Hidráulica
              </p>
              <p *ngIf="o.brakeLight == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Brake Light
              </p>
              <p *ngIf="o.vidrosEletricos == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Vidros Elétricos
              </p>
              <p *ngIf="o.limpadorTraseiro == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Limpador Traseiro
              </p>
              <p *ngIf="o.freioABS == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Freio ABS
              </p>
              <p *ngIf="o.radio == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Radio
              </p>
            </div>
            <div class="col-6" *ngFor="let o of opcionais">
              <p *ngIf="o.dvdPlayer == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                DVD Player
              </p>
              <p *ngIf="o.vidrosTraseirosEletricos == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Vidros Traseiros Elétricos
              </p>
              <p *ngIf="o.espelhosRetrovisoresTraseiros == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Espelhos Retrovisores Traseiros
              </p>
              <p *ngIf="o.bancosEnCouro == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Bancos en Couro
              </p>
              <p *ngIf="o.altosFalantes == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Altos Falantes
              </p>
              <p *ngIf="o.gps == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                GPS
              </p>
              <p *ngIf="o.alarme == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Alarme
              </p>
              <p *ngIf="o.protetorDeCacamba	 == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Protetor De Caçamba
              </p>
              <p *ngIf="o.sensorEstaciomamentoTraseiro == 1">
                <i class="far fa-check-circle deep-orange-text mr-2"></i>
                Sensor Estaciomamento Traseiro
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xl-6">
        <div  class="grey lighten-5 p-5">
          <h3 class="border-bottom pb-2 mb-4">
            Informações Complementares
          </h3>
          <div class="row">
            <div class="col-6" *ngFor="let r of complemento">
              <p *ngIf="r.baixa_km == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                Baixa Km.
              </p>
              <p *ngIf="r.feito_cautelar == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                Feito Cautelar
              </p>
              <p *ngIf="r.garantia_loja == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                Garantia Loja
              </p>
              <p *ngIf="r.garantia_fabrica == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                Garantia Fabrica
              </p>
              <p *ngIf="r.ipva_pago == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                IPVA Pago
              </p>
            </div>
            <div class="col-6" *ngFor="let r of complemento">
              <p *ngIf="r.licenciado == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                Licenciado
              </p>
              <p *ngIf="r.nenhuma_batida == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                Nenhuma Batida
              </p>
              <p *ngIf="r.pneus_novos == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                Pneus Novos
              </p>
              <p *ngIf="r.revisoes_realizadas == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                Revisões Realizadas
              </p>
              <p *ngIf="r.unico_dono == 1">
                <i class="fas fa-hand-point-right deep-orange-text mr-2"></i>
                Unico Dono
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pb-5">
      <div class="col-xl-10">
        <div class="py-4 text-center">
          <button mdbBtn type="button" color="danger" (click)='onDelete()' mdbWavesEffect>EXCLUIR</button>
          <!-- <button mdbBtn type="button" color="warning" (click)='onAtualizar()' mdbWavesEffect>ATUALIZAR</button> -->
          <button mdbBtn type="button" color="info" (click)='onPainel()' mdbWavesEffect>IR AO PAINEL</button>
          <button mdbBtn type="button" color="success" (click)='onNovo()' mdbWavesEffect>CRIAR NOVO</button>
        </div>
      </div>
    </div>

</div>
