.sidebar-fixed {
  height: 100vh;
  width: 220px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1rem;
  padding-top: 0;
  .list-group{
    .active {
      color: #fadb58!important;
      font-weight: 800!important;
      // -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      // -webkit-border-radius: 5px;
      // border-radius: 5px;
    }
    color: #fff!important;
    .list-group-item {
      background: none!important;
      border: 0px solid rgba(255, 255, 255, 0.25);
      border-top: 1px solid rgba(255, 255, 255, 0.45);
      border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    }
  }
  .logo-wrapper {
    padding: 2.5rem 0rem;
  }
}


.sidebar-fixed-small {
  height: 100vh;
  width: 80px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1rem;
  padding-top: 0;
  .list-group{
    .active {
      color: #fadb58!important;
      font-weight: 800!important;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
    color: #fff!important;
    .list-group-item{
      background: none!important;
      border: 0px solid rgba(255, 255, 255, 0.25);
      border-top: 1px solid rgba(255, 255, 255, 0.45);
      border-bottom: 1px solid rgba(255, 255, 255, 0.45);
      .text{ display: none }
    }
  }
  .logo-wrapper {
    padding: 1.5rem;
    img { max-height: 50px; }
  }
}
i { font-size: 24px!important }
.list-group-item-action{
  color: #fff!important;
  font-weight: 400!important;
}

@media (min-width: 1200px) {
  .navbar,
  .page-footer {
    padding-left: 220px!important;
  }
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
}
