<header>
  <div class="position-fixed unique-color-dark" [ngClass]="{'sidebar-fixed': visible === true, 'sidebar-fixed-small': visible === false}">
    <a class="logo-wrapper waves-effect">
      <img src="./assets/images/logo.svg" class="img-fluid" alt="Condor Admin">
    </a>
    <div class="list-group list-group-flush">
      <a
        routerLink="veiculo"  routerLinkActive="active"
        class="list-group-item list-group-item-action text-uppercase waves-effect">
        <mdb-icon fas icon="car-alt" class="mr-2"></mdb-icon>
        <span class="text">Veículo</span>
      </a>
      <a
        routerLink="leads"  routerLinkActive="active"
        class="list-group-item list-group-item-action text-uppercase waves-effect">
        <mdb-icon fas icon="bookmark" class="mr-2"></mdb-icon>
        <span class="text">Leads</span>
      </a>
      <a
        routerLink="admin/veiculo"  routerLinkActive="active"
        class="list-group-item list-group-item-action text-uppercase waves-effect">
        <mdb-icon fas icon="cogs" class="mr-2"></mdb-icon>
        <span class="text">Integrações</span>
      </a>
      <a (click)="getToogle()" class="list-group-item list-group-item-action text-uppercase waves-effect">
        <i class="fas mr-2" [ngClass]="{'fa-chevron-circle-right': visible === false, 'fa-chevron-circle-left': visible === true}"></i>
        <span class="text">Recolher</span>
      </a>
    </div>
  </div>
  <mdb-navbar
    [containerInside]="false"
    SideClass="navbar navbar-expand-lg navbar-light" >
    <logo  [ngClass]="{'logo-small': visible === false, 'logo': visible === true}">
      <a class="navbar-brand" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/">
        <strong class="blue-text">Condor</strong>
      </a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" mdbWavesEffect [routerLink]="['/admin/menu']">Menú
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank" mdbWavesEffect>About MDB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mdbootstrap.com/angular/getting-started/" target="_blank" mdbWavesEffect>Free download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mdbootstrap.com/angular/angular-tutorial/" target="_blank" mdbWavesEffect>Free tutorials</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://mdbootstrap.com/products/angular-ui-kit/" class="ml-1 nav-link border border-light rounded" mdbWavesEffect>
            <i class="fas fa-chevron-circle-right mr-3"></i>
            <span class="text">Recolher menu</span>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
<main [ngClass]="{'logo-small': visible === false, 'logo': visible === true}">
  <div class="container-fluid px-4 mt-4">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="text-center font-small mt-2" [ngClass]="{'logo-small': visible === false, 'logo': visible === true}">
  <!--Copyright-->
  <div class=" py-3 text-muted b-06" >
    © 2019 Copyleft:
    <a href="https://www.condor.com.br" target="_blank" class="b-05 text-info"> www.condor.com.br </a>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
