<h3 class="border-bottom pb-1 mb-4">Criar</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div id="dados">
        <form [formGroup]="fmVeiculo">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="md-form">
                <input mdbInput type="text" class="form-control" id="modelo" formControlName="modeloCarro">
                <label for="modelo" class="">Modelo</label>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="md-form">
                <input mdbInput type="text" class="form-control" id="marca" formControlName="marcaCarro">
                <label for="marca" class="">Marca</label>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="md-form">
                <input mdbInput mdbValidate type="text" id="versao" class="form-control" formControlName="versao">
                <label for="versao">Versão do Veículo</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="md-form">
                <input mdbInput type="text" class="form-control" id="cor" formControlName="cor">
                <label for="cor" class="">Color</label>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="md-form">
                <input mdbInput type="text" class="form-control" id="ano_f" formControlName="ano_fabricacao">
                <label for="ano_f" class="">Ano Fabricação</label>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="md-form">
                <input mdbInput type="text" class="form-control" id="ano_m" formControlName="ano_modelo">
                <label for="ano_m" class="">Ano Modelo</label>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="md-form">
                <input mdbInput type="text" class="form-control" id="kilometragem" formControlName="kilometragem">
                <label for="kilometragem" class="">Kilometragem</label>
              </div>
            </div>
          </div>
            <!-- Gasolina, portas e cambio -->
          <div class="row">
            <div class="col-md-4">
              <div class="md-form">
                <select mdbValidate mdbInput
                class="select-wrapper custom-select px-3" id="combustivel" formControlName="combustivel">
                  <option value="flex">Flex</option>
                  <option value="gasolina">Gasolina</option>
                  <option value="diesel">Diesel</option>
                </select>
                <label for="combustivel">Combustível</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <select mdbValidate mdbInput
                class="select-wrapper custom-select px-3" id="portas" formControlName="portas">
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <label for="portas">Portas</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <select mdbValidate mdbInput
                class="select-wrapper custom-select px-3" id="transmissao" formControlName="transmissao">
                  <option value="manual">Manual</option>
                  <option value="automatizado">Automatizado</option>
                  <option value="automatico">Automático</option>
                </select>
                <label for="transmissao">Câmbio</label>
              </div>
            </div>
          </div>
          <!-- Estado e Cidade -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="md-form">
                <select mdbValidate mdbInput
                class="select-wrapper custom-select px-3" for="form5"
                formControlName="estado" (change)="onGetCidade($event)">
                  <option class="filtrable" *ngFor="let i of estado" value="{{i.id}}">
                    {{i.nome}}</option>
                </select>
                <label for="form5">Estado</label>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="md-form">
                <select mdbValidate mdbInput
                class="select-wrapper custom-select px-3" for="cidade"
                formControlName="cidade">
                  <option class="filtrable" *ngFor="let c of cidade" value="{{c.id}}">
                    {{c.nome}}</option>
                </select>
                <label for="cidade">Cidade</label>
              </div>
            </div>
          </div>
          <!-- Ofertas e Status -->
          <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
              <div class="md-form">
                <select mdbValidate mdbInput
                class="select-wrapper custom-select" for="ofertas"
                formControlName="ofertas">
                  <option class="filtrable" *ngFor="let f of oferta" value="{{f.id}}">
                    {{f.nome}}</option>
                </select>
                <label for="ofertas">Ofertas</label>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="md-form">
                <input mdbInput mdbValidate type="text" id="placa" class="form-control" formControlName="placa">
                <label for="placa">Placa</label>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="md-form">
                <input mdbInput mdbValidate type="text" id="valor" class="form-control" formControlName="valor">
                <label for="valor">Valor</label>
              </div>
            </div>
          </div>
          <div class="md-form">
            <textarea type="text" id="descricao" class="md-textarea form-control" mdbInput mdbValidate formControlName="descricao"></textarea>
            <label for="descricao">Descrição</label>
          </div>
        </form>
      </div>
      <div id="images" class="grey lighten-3 p-4">
        <h5 class="b-06 text-muted mb-0 pb-1 text-center text-uppercase">Carregar Imagens</h5>
        <hr>
        <div class="w-100 px-3 pb-3">
          <image-upload
            [(ngModel)]="id"
            [max]="14"
            [maxFileSize]="1048576"
            [buttonCaption]="'Selecione as Imagens!'"
            [dropBoxMessage]="'Solte suas imagens aqui!'"
            [extensions]="['jpg', 'JPG', 'jpeg', 'JPEG', 'PNG', 'png']"
            url="https://api.autoparvioutlet.com.br/api/storages/photos/upload"
            (removed)="onRemoved($event)"
            (uploadFinished)="onUploadFinished($event)"
            (uploadStateChanged)="onUploadStateChanged($event)">
          </image-upload>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="grey lighten-4 py-4 px-3 rounded mb-3">
        <h5 class="b-06 text-muted mb-0 pb-1 text-center text-uppercase">Opcionais de série</h5>
        <hr>
        <form [formGroup] = 'fmOption'>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6">
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="arCondicionado">
                  Ar Condicionado</mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="arBag">
                  Ar Bag</mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="travasEletricas">
                  Travas Elétricas</mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="direcaoHidraulica">
                  Direção Hidráulica</mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="direcaoEletrica">
                  Direção Eletrica </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="brakeLight">
                  Brake Light </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="vidrosEletricos">
                  Vidros Elétricos </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="limpadorTraseiro">
                  Limpador Traseiro </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="freioABS">
                  Freios ABS </mdb-checkbox>
              </p>
              <p>
                <mdb-checkbox [default] = 'true' formControlName="radio">
                  Radio </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                  <mdb-checkbox [default] = 'true' formControlName="dvdPlayer">
                    DVD Player</mdb-checkbox>
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="vidrosTraseirosEletricos">
                  Vidros Traseiros Elétricos </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="espelhosRetrovisoresTraseiros">
                  Espelhos Retrovisores Traseiros </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="bancosEnCouro">
                  Bancos en Couros </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="altosFalantes">
                  Altos Falantes </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="gps">
                  GPS </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="alarme">
                  Alarme </mdb-checkbox>
              </p>
              <p class="mb-1 f-09">
                <mdb-checkbox [default] = 'true' formControlName="protetorDeCacamba">
                  Protetor de Caçamba </mdb-checkbox>
              </p>
              <p>
                <mdb-checkbox [default] = 'true' formControlName="sensorEstaciomamentoTraseiro">
                  Sensor Estacionamento Traseiros </mdb-checkbox>
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="grey lighten-3 py-4 px-3 rounded">
        <h5 class="b-06 text-muted mb-0 pb-1 text-center text-uppercase">Opcionais de complementos</h5>
        <hr>
        <form [formGroup] = 'fmComplem'>
          <div class="row justify-content-center">
              <div class="col-12 col-sm-12 col-md-6">
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="baixa_km">
                      Baixa km
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="feito_cautelar">
                      Feito Vistora Cautelar
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="garantia_loja">
                      Garantia da Loja
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="garantia_fabrica">
                      Garantia de Fábrica
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="ipva_pago">
                      IPVA Pago
                    </mdb-checkbox>
                  </p>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="licenciado">
                      Licenciado
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="nenhuma_batida">
                      Nenhuma Batida
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="pneus_novos">
                      Pneus Novos
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="revisoes_realizadas">
                      Revisões realizadas
                    </mdb-checkbox>
                  </p>
                  <p>
                    <mdb-checkbox [default] = 'true' formControlName="unico_dono">
                      Unico Dono
                    </mdb-checkbox>
                  </p>
                </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
