.custom-checkbox{
  padding-bottom: 1rem !important;
}

.dropzone {
  border-radius: 10px;
  padding: 20px 10px;
  border: 1px dashed red;
  text-align: text-center;
}

.bt-plus {
  padding: 0 !important;
  margin-top: 1.5rem;
}


/** Select */
.md-form {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.md-form .prefix~input,
.md-form .prefix~select,
.md-form .prefix~textarea {
  margin-left: 2.5rem;
  width: calc(100% - 2.5rem);
}

.select-wrapper {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  outline: 0;
  height: 2.5rem;
  line-height: 2.9rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 .94rem 0;
  padding: 0;
  display: block;
}
.filtrable{
  border-bottom: 1px solid #efefef;
  font-size: 1rem;
  display: block;
  padding: .5rem;
}
