@import './backend';

/* Font Weight */
.b-02 { font-weight: 200!important;}
.b-03 { font-weight: 300!important;}
.b-04 { font-weight: 400!important;}
.b-05 { font-weight: 500!important;}
.b-06 { font-weight: 600!important;}
.b-07 { font-weight: 700!important;}
.b-08 { font-weight: 800!important;}
.b-09 { font-weight: 900!important;}

/* Font Size */
.f-08 { font-size: .8rem!important;}
.f-09 { font-size: .9rem!important;}
